.order-table {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    overflow-y: auto; 
    max-height: 450px;
}

.order-table table {
    width: 100%;
    border-collapse: collapse;
}

.order-table th, 
.order-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}

.order-table th {
    color: black;
    height: 60px;
}

.order-table thead {
    position: sticky;
    top: 0;
    background: #f8f9fa; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.item-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}
